__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv*/
venv/
ENV/

.env
.env.*
!.env.example

mlruns/
mlflow.db

data/spark_tmp/
data/spark_lake/
data/advisor/
data/metrics/*.tmp

data/sources/

.DS_Store
.vscode/
.idea/
