services:
  mongodb:
    image: mongo:7
    container_name: mongo-serving
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - elt-network

  flask-api:
    build:
      context: .
      dockerfile: serving_api/Dockerfile
    container_name: gold-flask-api
    environment:
      MONGO_URI: mongodb://mongodb:27017
      MONGO_DB: gold_serving
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    networks:
      - elt-network
    volumes:
      - ./:/app

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    environment:
      MB_DB_FILE: /metabase-data/metabase.db
    volumes:
      - metabase_data:/metabase-data
    depends_on:
      - mongodb
    networks:
      - elt-network

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      - mongodb
    networks:
      - elt-network

volumes:
  mongo_data:
  metabase_data:

networks:
  elt-network:
    external: true
